<form action="/books/insertbook" method="post" class="form">
    <label>Nome:</label>
    <input type="text" placeholder="Nome" name="title">

    <label>Número de páginas:</label>
    <input type="number" name="numero_paginas">

    <button type="submit" value="CADASTRAR">cadastrar</button>
</form>